/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
*:after, a:before {
  content: "";
  display: table;
}

/* line 11, ../sass/screen.scss */
*:after {
  clear: both;
}

/* line 14, ../sass/screen.scss */
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nikaia-Regular5';
  src: url("../fonts/Nikaia/Nikaia-Regular5.woff") format("woff"), url("../fonts/Nikaia/Nikaia-Regular5.ttf") format("truetype"), url("../fonts/Nikaia/Nikaia-Regular5.svg#Nikaia-Regular5") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nikaia';
  src: url("../fonts/Nikaia/Nikaia.eot");
  src: url("../fonts/Nikaia/Nikaia.woff2") format("woff2"), url("../fonts/Nikaia/Nikaia.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/Myriad/MyriadPro-Semibold.eot");
  src: url("../fonts/Myriad/MyriadPro-Semibold.woff2") format("woff2"), url("../fonts/Myriad/MyriadPro-Semibold.woff") format("woff"), url("../fonts/Myriad/MyriadPro-Semibold.ttf") format("truetype"), url("../fonts/Myriad/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg"), url("../fonts/Myriad/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
}
@font-face {
  font-family: 'Vegur';
  src: url("../fonts/Vegur/Vegur-Regular.eot");
  src: url("../fonts/Vegur/Vegur-Regular.woff2") format("woff2"), url("../fonts/Vegur/Vegur-Regular.woff") format("woff"), url("../fonts/Vegur/Vegur-Regular.ttf") format("truetype"), url("../fonts/Vegur/Vegur-Regular.svg#Vegur-Regular") format("svg"), url("../fonts/Vegur/Vegur-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium800';
  src: url("../fonts/Titillium800/TitilliumText14L-800wt.eot");
  src: url("../fonts/Titillium800/TitilliumText14L-800wt.woff2") format("woff2"), url("../fonts/Titillium800/TitilliumText14L-800wt.woff") format("woff"), url("../fonts/Titillium800/TitilliumText14L-800wt.ttf") format("truetype"), url("../fonts/Titillium800/TitilliumText14L-800wt.svg#TitilliumText14L-800wt") format("svg"), url("../fonts/Titillium800/TitilliumText14L-800wt.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium250';
  src: url("../fonts/Titillium250/TitilliumText14L-250wt.eot");
  src: url("../fonts/Titillium250/TitilliumText14L-250wt.woff2") format("woff2"), url("../fonts/Titillium250/TitilliumText14L-250wt.woff") format("woff"), url("../fonts/Titillium250/TitilliumText14L-250wt.ttf") format("truetype"), url("../fonts/Titillium250/TitilliumText14L-250wt.svg#TitilliumText14L-250wt") format("svg"), url("../fonts/Titillium250/TitilliumText14L-250wt.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/* line 85, ../sass/screen.scss */
body {
  background-image: linear-gradient(to bottom, #8e4423 0%, #8e4423 100%);
}

/* line 88, ../sass/screen.scss */
header {
  background: #26292b;
  padding: 20px 32px 22px 45px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /*position: fixed;
  width: 80%;
  top: 0;
  left: 50%;
  transform:translateX(-50%);*/
}

/* line 99, ../sass/screen.scss */
.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

/* line 104, ../sass/screen.scss */
.logo {
  font: italic 400 34.16px Nikaia;
  color: #e6e3bb;
  float: left;
  margin-right: 40px;
  margin-top: 5px;
}

/* line 112, ../sass/screen.scss */
.header__nav {
  float: left;
  border-left: 2px solid #626259;
  padding-left: 5px;
}

/* line 117, ../sass/screen.scss */
.header-nav__item {
  float: left;
  position: relative;
}

/* line 121, ../sass/screen.scss */
.header-nav__item_active:hover > .header-nav__list {
  display: block;
}

/* line 124, ../sass/screen.scss */
.header-nav__link {
  padding: 13px 18px 15px 18px;
  font: 600 15.94px MyriadPro;
  text-decoration: none;
  color: #e6e3bb;
  display: block;
}

/* line 131, ../sass/screen.scss */
.header-nav__link:hover {
  color: #8e4423;
}

/* line 134, ../sass/screen.scss */
.header__btn {
  float: right;
  border: 1px solid #96644c;
  border-radius: 5px;
  /*border-image: linear-gradient(to bottom, red , green);*/
  background-image: linear-gradient(to bottom, #a35631, #823d1f);
  padding: 9px 11px 7px 12px;
  margin-top: 5px;
  outline: none;
  font: 400 15.94px MyriadPro;
  color: #e6e3bb;
  cursor: pointer;
}

/* line 147, ../sass/screen.scss */
.header__input {
  float: right;
  border: 1px solid #333333;
  border-radius: 5px;
  /*border-image: linear-gradient(to bottom, red , green);*/
  background-image: linear-gradient(to bottom, #1d1f20, #26282b);
  padding: 8px 4px 10px 13px;
  margin-top: 5px;
  margin-right: 13px;
  outline: none;
  font: 400 15.94px MyriadPro;
  color: #7b7a6d;
}

/* line 160, ../sass/screen.scss */
.header-nav__list {
  padding: 5px 30px 22px 24px;
  border-radius: 5px;
  background: #292b2d;
  opacity: 0.9;
  border-top: 1px solid #2d3033;
  position: absolute;
  top: 47px;
  left: 0;
  display: none;
  z-index: 100;
}

/* line 172, ../sass/screen.scss */
.header-nav__list::after {
  content: '';
  position: absolute;
  left: 27px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #292b2d;
}

/* line 180, ../sass/screen.scss */
.header-list__link {
  display: block;
  padding: 11px 0 9px 0;
  font: 400 15.94px MyriadPro;
  color: #7b7a6d;
  text-decoration: none;
}

/* line 187, ../sass/screen.scss */
.header-list__link:hover {
  color: #e6e3bb;
}

/* line 190, ../sass/screen.scss */
.header-nav__list_item {
  border-top: 1px solid #3a3a3a;
  border-bottom: 1px solid #262829;
}

/* line 194, ../sass/screen.scss */
.header-nav__list_item:first-child {
  border-top: none;
}

/* line 197, ../sass/screen.scss */
.header-nav__list_item:last-child {
  border-bottom: none;
}

/* line 200, ../sass/screen.scss */
.logo-top {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* line 205, ../sass/screen.scss */
.slider-top__item > p {
  text-align: center;
  font: 400 18.22px Nikaia;
  color: #fff;
}

/* line 210, ../sass/screen.scss */
.slider-title {
  background: #242729;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 235px;
  padding: 10px 0 8px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -35px;
}

/* line 221, ../sass/screen.scss */
.slider-title .slick-prev {
  left: 13px;
  z-index: 100;
}

/* line 225, ../sass/screen.scss */
.slider-title .slick-next {
  right: 13px;
}

/* line 228, ../sass/screen.scss */
.slider-title .slick-prev:before {
  content: "";
  background-image: url(../img/top-left.png);
  background-repeat: no-repeat;
  display: block;
  width: 15px;
  height: 19px;
}

/* line 236, ../sass/screen.scss */
.slider-title .slick-next:before {
  content: "";
  background-image: url(../img/top-right.png);
  background-repeat: no-repeat;
  display: block;
  width: 15px;
  height: 19px;
}

/* line 244, ../sass/screen.scss */
.featuder-info {
  background: #242729;
  padding: 0 12px 78px 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  top: -77px;
}

/* line 252, ../sass/screen.scss */
.slider-info {
  background: #242729;
  padding: 15px 0 35px 15px;
  border-bottom: 1px solid #393b3d;
}

/* line 257, ../sass/screen.scss */
.slider-info__img {
  display: block;
  float: left;
  border: 6px solid #8e4423;
  margin: 0 12px;
}

/* line 263, ../sass/screen.scss */
.info-article__top_img {
  float: left;
  margin-right: 20px;
}

/* line 267, ../sass/screen.scss */
.info-article__top_title {
  float: left;
  color: #8e4423;
  font: 600 20.49px MyriadPro;
  margin-top: -8px;
}

/* line 273, ../sass/screen.scss */
.info-article__top_desc {
  font: italic 400 13.66px MyriadPro;
  color: #646363;
}

/* line 277, ../sass/screen.scss */
.info-article__desc {
  font: italic 400 13.66px MyriadPro;
  color: #7b7a6d;
  float: left;
  width: 50%;
  margin-top: 15px;
}

/* line 284, ../sass/screen.scss */
.block {
  width: 33.3%;
  height: 200px;
  background: #e6e3bb;
  position: relative;
}

/* line 290, ../sass/screen.scss */
.top-left {
  position: absolute;
  top: -16px;
  left: 35%;
  border: 5px solid transparent;
  border-bottom: 11px solid #e6e3bb;
}

/* line 297, ../sass/screen.scss */
.top-right {
  position: absolute;
  top: -16px;
  right: 35%;
  border: 5px solid transparent;
  border-bottom: 11px solid #e6e3bb;
}

/* line 304, ../sass/screen.scss */
.bottom-left {
  position: absolute;
  top: 0px;
  left: 34.1%;
  border: 5px solid transparent;
  border-top: 11px solid #8e4423;
}

/* line 311, ../sass/screen.scss */
.bottom-right {
  position: absolute;
  top: 0px;
  right: 34.1%;
  border: 5px solid transparent;
  border-top: 11px solid #8e4423;
}

/* line 318, ../sass/screen.scss */
.steps {
  background: #e6e3bb;
  padding: 0 23px;
  padding-bottom: 40px;
  border-bottom: 1px solid #867760;
  position: relative;
  top: -60px;
}

/* line 326, ../sass/screen.scss */
.steps-block {
  width: 33.3%;
  padding: 0 70px;
  float: left;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

/* line 334, ../sass/screen.scss */
.steps-block__img {
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
}

/* line 340, ../sass/screen.scss */
.steps-block__title {
  font: 400 20.49px Nikaia;
  text-transform: uppercase;
  color: #8e4423;
  margin-top: 75px;
  margin-bottom: 10px;
}

/* line 347, ../sass/screen.scss */
.steps-block___desc {
  font: 400 14.8px MyriadPro;
  color: #7b7a6d;
  margin-bottom: 20px;
}

/* line 352, ../sass/screen.scss */
.steps-block__btn {
  padding: 10px 15px 12px 20px;
  border: 1px solid #717477;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #3b4043, #202325);
  color: #e6e3bb;
  font: 400 14.8px MyriadPro;
  cursor: pointer;
}

/* line 361, ../sass/screen.scss */
.steps-slider__title {
  background: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 400px;
  padding-right: 15px;
  margin: 0 auto;
}

/* line 370, ../sass/screen.scss */
.steps-slider__item {
  float: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  border-bottom: 1px solid #454749;
  margin-top: 5px;
}

/* line 378, ../sass/screen.scss */
.steps-slider__text {
  font: 400 13.66px Vegur;
  color: #5b5b5b;
  padding: 10px 20px 7px 25px;
  background: #242729;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #505254;
}

/* line 387, ../sass/screen.scss */
.steps-slider__title .slick-current .steps-slider__text {
  color: #e6e3bb;
  font: 400 15.94px Vegur;
  padding: 12px 26px 8px 28px;
}

/* line 392, ../sass/screen.scss */
.steps-slider__title .slick-current.steps-slider__item {
  margin-top: 0;
  border-bottom: none;
}

/* line 396, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 399, ../sass/screen.scss */
.steps-slider__block {
  padding: 0 122px;
  padding-bottom: 30px;
  background: #242729;
  border-radius: 10px;
}

/* line 405, ../sass/screen.scss */
.steps-slider__block-one {
  width: 33.3%;
  float: left;
  padding: 0 22.5px;
  padding-top: 35px;
}

/* line 411, ../sass/screen.scss */
.steps-slider__block-one:hover > p {
  color: #e6e3bb;
}

/* line 414, ../sass/screen.scss */
.steps-article__img {
  float: left;
  margin-right: 15px;
}

/* line 418, ../sass/screen.scss */
.steps-article__top_title {
  float: left;
  font: 400 20.49px MyriadPro;
  color: #8e4423;
  margin-top: -10px;
  margin-bottom: 20px;
}

/* line 425, ../sass/screen.scss */
.steps-article__top_desc {
  font: italic  400 13.66px MyriadPro;
  color: #646363;
}

/* line 429, ../sass/screen.scss */
.steps-article__desc {
  font: italic 400 15.94px Nikaia;
  color: #7b7a6d;
}

/* line 433, ../sass/screen.scss */
.steps-two .steps-slider__block-one .steps-article__top_title {
  float: none;
}

/* line 436, ../sass/screen.scss */
.steps-slider__block .slick-prev {
  top: 45%;
  left: 20px;
}

/* line 440, ../sass/screen.scss */
.steps-slider__block .slick-next {
  top: 45%;
  right: 43px;
}

/* line 444, ../sass/screen.scss */
.steps-slider__block .slick-prev:before {
  content: "";
  display: block;
  width: 47px;
  height: 47px;
  background-image: url(../img/steps-left.png);
}

/* line 451, ../sass/screen.scss */
.steps-slider__block .slick-next:before {
  content: "";
  display: block;
  width: 47px;
  height: 47px;
  background-image: url(../img/steps-right.png);
}

/* line 458, ../sass/screen.scss */
.newsletter {
  background: #242729;
  padding: 38px 0 50px 23px;
  position: relative;
  top: -45px;
}

/* line 464, ../sass/screen.scss */
.newsletter-article {
  width: 45%;
  float: left;
  padding-right: 20px;
  position: relative;
}

/* line 470, ../sass/screen.scss */
.newsletter-article__title {
  text-align: left;
  font: italic 20.49px 'Titillium800','Titillium250';
  color: #8e4423;
  margin-bottom: 14px;
  position: absolute;
}

/* line 477, ../sass/screen.scss */
.newsletter-article__desc {
  font: 400 14.8px MyriadPro;
  color: #7b7a6d;
  text-align: left;
  padding-top: 25px;
  margin-bottom: -10px;
}

/* line 484, ../sass/screen.scss */
.newsletter-article__img {
  text-align: right;
  float: right;
  width: 165px;
  height: 110px;
  border: 5px solid #8e4423;
  margin-top: 5px;
  outline: none;
}

/* line 493, ../sass/screen.scss */
.point-wrap {
  border: 2px solid #8e4423;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

/* line 503, ../sass/screen.scss */
.point-wrap:before {
  content: "";
  display: block;
  width: 1px;
  height: 115px;
  background: #8e4423;
  position: absolute;
  right: 50%;
  top: 14px;
}

/* line 513, ../sass/screen.scss */
.point-wrap:after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background: #8e4423;
  position: absolute;
  right: 50%;
  bottom: 14px;
}

/* line 523, ../sass/screen.scss */
.point {
  font-size: 70px;
  color: #8e4423;
  position: relative;
  top: -30.5px;
  right: 6.3px;
}

/* line 530, ../sass/screen.scss */
.newsletter-email {
  float: left;
  padding-left: 22px;
  width: 55%;
}

/* line 535, ../sass/screen.scss */
.newsletter-email__title {
  text-align: left;
  font: italic 20.49px 'Titillium800','Titillium250';
  color: #8e4423;
}

/* line 540, ../sass/screen.scss */
.newsletter-form {
  margin-top: 15px;
  border: 1px solid #363636;
  border-radius: 5px;
  padding: 1px;
  background: #2a2c2e;
  margin-bottom: 30px;
  float: left;
}

/* line 549, ../sass/screen.scss */
.newsletter-form__input {
  float: left;
  padding: 8px 0 10px 15px;
  background-image: linear-gradient(to bottom, #232628, #2b2d2f);
  color: #757468;
  font: 400 15.94px MyriadPro;
  width: 225px;
}

/* line 557, ../sass/screen.scss */
.newsletter-form__btn {
  float: left;
  padding: 12px 15px 10px 15px;
  border-radius: 5px;
  border-top: 1px solid #c1896f;
  border-bottom: 1px solid #5a2c1a;
  font: italic 400 14.8px Nikaia;
  background-image: linear-gradient(to bottom, #b55f34, #692d17);
  cursor: pointer;
  color: #ffffff;
}

/* line 568, ../sass/screen.scss */
.twitter {
  border: 2px solid #363636;
  background-image: linear-gradient(to bottom, #232628, #2b2d2f);
  float: left;
  padding: 1px;
  border-radius: 5px;
  margin-right: 9px;
  position: relative;
}

/* line 577, ../sass/screen.scss */
.twitter-size {
  width: 80%;
}

/* line 580, ../sass/screen.scss */
.twitter__img {
  text-align: center;
  margin-bottom: 12px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 14px;
}

/* line 588, ../sass/screen.scss */
.twitter__btn {
  padding: 5px 10px 5px 12px;
  border-top: 1px solid #c1896f;
  border-bottom: 1px solid #5a2c1a;
  font: italic 400 14.8px Nikaia;
  background-image: linear-gradient(to bottom, #b55f34, #692d17);
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
}

/* line 598, ../sass/screen.scss */
.twitter__text {
  color: #66665d;
  font: 400 15.94px MyriadPro;
  padding: 20px 20px 20px 24px;
}

/* line 603, ../sass/screen.scss */
.twitter__retweet {
  position: absolute;
  right: 1px;
  bottom: 1px;
  width: 28px;
  height: 28px;
  background-image: url(../img/Re_Tweet.png);
  background-repeat: no-repeat;
  border-radius: 3px;
  cursor: pointer;
}

/* line 614, ../sass/screen.scss */
.twitter__text_link {
  display: inline-block;
  color: #e6e3bb;
}

/* line 618, ../sass/screen.scss */
footer {
  position: relative;
  top: -60px;
}

/* line 622, ../sass/screen.scss */
.footer-content .bottom-left, .footer-content .bottom-right {
  border-top: 11px solid #242729;
}

/* line 625, ../sass/screen.scss */
.footer-content {
  background: #e6e3bb;
  padding: 40px 25px 50px 22px;
  position: relative;
}

/* line 630, ../sass/screen.scss */
.footer-flick {
  width: 29.5%;
  float: left;
}

/* line 634, ../sass/screen.scss */
.footer-flick__wrap {
  margin-bottom: -10px;
  padding-top: 10px;
  border-top: 1px solid #828172;
}

/* line 639, ../sass/screen.scss */
.footer-flick__block {
  width: 22%;
  height: 70px;
  margin-right: 3%;
  margin-bottom: 10px;
  border: 7px solid #8e4423;
  background: #242729;
  border-radius: 3px;
  float: left;
}

/* line 649, ../sass/screen.scss */
.footer__block_margin {
  margin-right: 0;
}

/* line 652, ../sass/screen.scss */
.footer-flick__title {
  font: italic 400 20.49px Nikaia;
  color: #8e4423;
  padding: 0 0 5px 15px;
}

/* line 657, ../sass/screen.scss */
.footer-client .footer-flick__title, .footer-page .footer-flick__title, .footer-friend .footer-flick__title {
  text-align: center;
  padding-left: 0;
}

/* line 661, ../sass/screen.scss */
.footer-client, .footer-page, .footer-friend {
  float: left;
  margin-left: 5%;
}

/* line 665, ../sass/screen.scss */
.footer-page {
  width: 15%;
}

/* line 668, ../sass/screen.scss */
.footer-client, .footer-friend {
  width: 20%;
}

/* line 671, ../sass/screen.scss */
.footer-cient__list {
  border-top: 1px solid #828172;
  padding-top: 15px;
}

/* line 675, ../sass/screen.scss */
.footer-cient__item {
  margin-bottom: 20px;
  text-align: center;
}

/* line 679, ../sass/screen.scss */
.footer-client__link {
  color: #4f504b;
  text-decoration: none;
  font: 400 15.94px MyriadPro;
}

/* line 684, ../sass/screen.scss */
.footer-page .footer-cient__list, .footer-friend .footer-cient__list {
  padding-top: 10px;
}

/* line 687, ../sass/screen.scss */
.footer-page .footer-cient__item, .footer-friend .footer-cient__item {
  margin-bottom: 16px;
}

/* line 690, ../sass/screen.scss */
.footer-cient__item:last-child {
  margin-bottom: 0;
}

/* line 693, ../sass/screen.scss */
.footer-bottom {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #242729;
  padding: 23px 0 25px 0;
}

/* line 699, ../sass/screen.scss */
.footer-bottom__list {
  float: right;
}

/* line 702, ../sass/screen.scss */
.footer-bottom__item {
  position: relative;
  float: left;
  margin-right: 38px;
}

/* line 707, ../sass/screen.scss */
.footer-bottom__item:before {
  content: "/";
  color: #725142;
  position: absolute;
  right: -19px;
}

/* line 713, ../sass/screen.scss */
.footer-bottom__item:last-child:before {
  content: "";
}

/* line 716, ../sass/screen.scss */
.footer-bottom__link {
  color: #725142;
  font: 400 13.66px MyriadPro;
  text-decoration: none;
}

/*Start About Page*/
/* line 724, ../sass/screen.scss */
.about__title {
  font: italic 400 54.65px Nikaia;
  color: #e6e3bb;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

/* line 731, ../sass/screen.scss */
.header-nav__item_active {
  color: #8e4423;
}

/* line 734, ../sass/screen.scss */
.about-block {
  border-radius: 10px;
  background: #242729;
  padding: 0 12px;
  border-top: 1px solid #4c4f51;
}

/* line 740, ../sass/screen.scss */
.nav-list {
  background-image: linear-gradient(to bottom, #2e3032, #242729);
  border-bottom: 1px solid #36383a;
  margin-bottom: 22px;
}

/* line 745, ../sass/screen.scss */
.nav-list__item {
  float: left;
  position: relative;
  margin-right: 25px;
}

/* line 750, ../sass/screen.scss */
.nav-list__item:before {
  content: "\2192";
  display: block;
  width: 20px;
  height: 10px;
  position: absolute;
  right: -23px;
  color: #7b7a6d;
  top: 13px;
}

/* line 760, ../sass/screen.scss */
.nav-list__item:last-child:before {
  content: "";
}

/* line 763, ../sass/screen.scss */
.nav-list__link {
  color: #7b7a6d;
  font: 400 14.8px MyriadPro;
  text-decoration: none;
  display: block;
  padding: 11px 0 12px 0;
}

/* line 770, ../sass/screen.scss */
.header-nav__item_active {
  color: #8e4423;
}

/* line 773, ../sass/screen.scss */
.about-wrap {
  margin-bottom: 20px;
}

/* line 776, ../sass/screen.scss */
.about-content {
  padding: 0 45px;
}

/* line 779, ../sass/screen.scss */
.about-article {
  width: 50%;
  float: left;
  padding: 0 20px;
}

/* line 784, ../sass/screen.scss */
.about-article .steps-article__top_title {
  font-size: 35.16px;
  line-height: 17px;
  padding-top: 55px;
  float: none;
}

/* line 790, ../sass/screen.scss */
.about-article .steps-article__img {
  padding-top: 55px;
}

/* line 793, ../sass/screen.scss */
.about-article .info-article__top_title {
  margin-bottom: 10px;
}

/* line 796, ../sass/screen.scss */
.about-article .info-article__desc {
  float: none;
  width: 100%;
}

/* line 800, ../sass/screen.scss */
.about-article .twitter__btn {
  margin-top: 45px;
}

/* line 803, ../sass/screen.scss */
.about-row {
  margin: 0 -20px;
}

/* line 806, ../sass/screen.scss */
.about-article__video {
  width: 100%;
  height: 200px;
  border: 6px solid #8e4423;
  border-left: 5px solid #8e4423;
}

/* line 812, ../sass/screen.scss */
.about-article .info-article__top .info-article__top_title {
  width: 85%;
}

/* line 815, ../sass/screen.scss */
.about-article__video {
  margin-bottom: 5px;
}

/* line 818, ../sass/screen.scss */
.about-row {
  padding-bottom: 25px;
  border-bottom: 1px solid #0f0f0f;
}

/* line 822, ../sass/screen.scss */
.about-article__row {
  margin: 0 -17.5px;
  padding-top: 49px;
  padding-bottom: 50px;
  border-top: 1px solid #41403a;
}

/* line 828, ../sass/screen.scss */
.about-article__row .steps-slider__block-one {
  width: 25%;
  padding: 0 17.5px;
}

/* line 832, ../sass/screen.scss */
.about-steps {
  position: relative;
  top: 10px;
}

/* line 836, ../sass/screen.scss */
.about-newsletter {
  top: 40px;
}

/* line 839, ../sass/screen.scss */
.about-footer {
  top: 40px;
}

/* line 842, ../sass/screen.scss */
.about-steps .steps-block .steps-block__img {
  position: relative;
  top: 33px;
  left: 0;
  transform: translateX(0);
}

/*workpage start*/
/* line 851, ../sass/screen.scss */
.workpage-row .about-article {
  margin-bottom: 35px;
}

/* line 854, ../sass/screen.scss */
.workpage-row .about-article .info-article__top:hover > .info-article__top_title {
  color: #e6e3bb;
}

/* line 857, ../sass/screen.scss */
.workpage-row .about-article .info-article__top:hover > .info-article__desc {
  color: #e6e3bb;
}

/* line 860, ../sass/screen.scss */
.workpage-content {
  padding-bottom: 30px;
}

/* line 863, ../sass/screen.scss */
.workpage-content .slick-dots li.slick-active button:before {
  color: #8e4423;
}

/* line 866, ../sass/screen.scss */
.workpage-content .slick-dots {
  counter-reset: list 0;
  position: relative;
  bottom: -10px;
}

/* line 871, ../sass/screen.scss */
.workpage-content .slick-dots li button::before {
  counter-increment: list;
  content: counter(list);
  font: 400 14.8px MyriadPro;
  color: #e6e3bb;
}

/* line 877, ../sass/screen.scss */
.workpage-content .slick-prev {
  top: 97.5%;
  left: 40%;
  z-index: 100;
}

/* line 882, ../sass/screen.scss */
.workpage-content .slick-next {
  top: 97.5%;
  right: 42%;
  z-index: 100;
}

/* line 887, ../sass/screen.scss */
.workpage-content .slick-prev:before {
  content: "";
  display: block;
  position: relative;
  top: -15px;
  width: 47px;
  height: 47px;
  background-image: url(../img/steps-left.png);
}

/* line 896, ../sass/screen.scss */
.workpage-content .slick-next:before {
  content: "";
  display: block;
  position: relative;
  top: -15px;
  width: 47px;
  height: 47px;
  background-image: url(../img/steps-right.png);
}

/* line 905, ../sass/screen.scss */
.workpage-row {
  padding-bottom: 0;
  border: none;
}

/* line 909, ../sass/screen.scss */
.workpage-top-slider {
  border-radius: 10px;
  border-bottom: 2px solid #303336;
  width: 340px;
  margin: 0 auto;
  margin-bottom: 35px;
  background-image: linear-gradient(to bottom, #1d2021, #242628);
}

/* line 917, ../sass/screen.scss */
.workpage-top-slider__item {
  float: left;
  display: inline-block;
  padding: 12px 20px 15px 17px;
  cursor: pointer;
  color: #7b7a6d;
  font: 400 15.94px MyriadPro;
}

/* line 925, ../sass/screen.scss */
.workpage-top-slider__item:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

/* line 929, ../sass/screen.scss */
.workpage-top-slider__item:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* line 933, ../sass/screen.scss */
.workpage-top-slider .slick-current {
  color: #e6e3bb;
  border-top: 1px solid #303336;
  background-image: linear-gradient(to bottom, #2a2d30, #202325);
  border-bottom: 1px solid #17191a;
}
